@model IEnumerable<StoreFront.DATA.EF.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@
<section class="product_section layout_padding gray-section pb-4 pt-4">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Shop <span>Equipment</span>
            </h2>
            <p align="center">

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Create">Add New Product</a>
                }

                <a asp-action="TiledProducts">Tile View</a>

                @*
                This view is created in our ProductsController so it assumes it will use the same controller because the Action is in the EquipmentController. Only                 need to add controller if you want to switch your controller if you're using a different View
                *@


            </p>
        </div>
    </div>
</section>

<p>
    <a asp-action="Create">Add Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentId">Details</a> |

                @if (item.Eq)
                    {
                        
                    }

                <a asp-action="Delete" asp-route-id="@item.EquipmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
